{include file="../../common/view/header" /}

<!--banner开始-->
<section id="banner">
    <!--<div class="container">-->
    <!--<div class="row">-->
    <!--<div class="col-lg-12">-->
    <!--  <img src="/static/img/huaziedu/home.png" class="img-responsive">-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->


    <div id="myCarousel" class="carousel slide" data-ride="carousel" >
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="active item "><img src="/static/img/huaziedu/ad_3.jpg" alt="...">
            </div>
            <!--<div class="item">-->
                <!--<img src="/static/img/huaziedu/ad_4.jpg" alt="" class="src"/>-->
            <!--</div>-->
            <!--<div class="item">
                <img src="/static/img/huaziedu/home.png" alt="" class="src"/>
            </div>-->
            <div class="item">
                <img src="/static/img/huaziedu/ad_2.png" alt="...">
            </div>
            <div class="item">
                <img src="/static/img/huaziedu/ad_6.png" alt="...">
            </div>
            <!--<div class="item">
                <img src="/static/img/huaziedu/ad_3.jpg" alt="...">
            </div>-->
        </div>
        <!-- Carousel nav -->
        <a class="left carousel-control" href="#myCarousel"
           data-slide="prev"> <span class="icon-prev"></span> </a> <a
            class="right carousel-control" href="#myCarousel" data-slide="next"> <span
            class="icon-next"></span> </a></div>
    </div>
</section>
<!--banner结束-->
<!--course-->
<section id="course">
    <div class="container">
        <div class="row wow fadeIn" data-wow-delay="0.6s">
            <div class="col-md-12">
                <h2>热门职业实战课程</h2>

                <!--<h6>独创学习路线助你成就高薪梦想</h6>-->
            </div>
            <div class="col-md-3">
                <div class="course">

                    <a href="ui.html">
                        <img src="/static/img/huaziedu/ui.png"   class="img-responsive" alt=""/>
                        <h4>UI设计师</h4>
                        <p>互联网行业视觉构筑者</p>
                    </a>

                </div>
            </div>
            <div class="col-md-3">
                <div class="course">
                    <img src="/static/img/huaziedu/php.png"  class="img-responsive" alt=""/>
                    <a href="#">
                    	<h4>PHP Web开发工程师</h4>
                    	<p>最易入门的千万级网站的web开发岗位</p>
                    </a>
                    

                </div>
            </div>
            <div class="col-md-3">
                <div class="course">
                    <img src="/static/img/huaziedu/java.png"  class="img-responsive" alt=""/>
                    <a href="#">
                    	<h4>JAVA软件工程师</h4>
                    	<p>世界第一编程语言</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="course">
                    <img src="/static/img/huaziedu/ios.png"  class="img-responsive" alt=""/>
                    <a href="#">
                    	<h4>IOS软件工程师</h4>
                    	<p>最容易拿高薪的移动应用开发岗位</p>
                    </a>
                    

                </div>
            </div>
            <div class="col-md-3">
                <div class="course">
                    <img src="/static/img/huaziedu/h5.png"  class="img-responsive" alt=""/>
                    <a href="#">
                    	<h4>WEB前端开发工程师</h4>
                    	<p>实现网站页面或客户端界面的专业人才</p>
                    </a>
                    

                </div>
            </div>
            <div class="col-md-3">
                <div class="course">
                    <img src="/static/img/huaziedu/android.png"  class="img-responsive" alt=""/>
                    <a href="#">
                    	<h4>Android 开发工程师</h4>
                    	<p>市场缺口最大的移动应用开发岗位</p>
                    </a>
                    

                </div>
            </div>
            <div class="col-md-3">
                <div class="course">
                    <img src="/static/img/huaziedu/message.png"  class="img-responsive" alt=""/>
                    <a href="#">
                    	<h4>云计算之大数据</h4>
                    	<p>混沌中寻找规律，数据里挖掘价值</p>
                    </a>
                    

                </div>
            </div>
            <div class="col-md-3">
                <div class="course">
                    <img src="/static/img/huaziedu/unity.png"  class="img-responsive" alt=""/>
                    <a href="#">
                    	<h4>Unity3D游戏开发班</h4>
                    	<p>手游称霸世界</p>
                    </a>
                    

                </div>
            </div>
        </div>
    </div>
</section>
<!--course-->


<!--course-->
<section id="course">
    <div class="container">
        <div class="row wow fadeIn" data-wow-delay="0.6s">
            <div class="col-md-12">
                <h2>梦想，终于照进现实</h2>

                <!--<h6>独创学习路线助你成就高薪梦想</h6>-->
            </div>
            <div class="col-md-3">
                <div class="course">
                    <img src="/static/img/huaziedu/zhongming.jpg"  style="height: 300px;width:280px;"  class="img-responsive" alt=""/>
                    <a href="#">
                        <h4>钟鸣 PHP软件开发工程师</h4>
                        <p>入职薪水：5000元/月</p>
                        <p>就职公司：重庆展览中心有限公司</p>
                    </a>

                </div>
            </div>
            <div class="col-md-3">
                <div class="course">
                    <img src="/static/img/huaziedu/hujun.jpg"  style="height: 300px;width:280px;" class="img-responsive" alt=""/>
                    <h4>胡俊 PHP软件开发工程师</h4>
                    <p>入职薪水：4500元/月</p>
                    <p>就职公司：成都人人优泊有限公司</p>

                </div>
            </div>
            <div class="col-md-3">
                <div class="course">
                    <img src="/static/img/huaziedu/lishuang.jpg" style="height: 300px;width:280px;"  class="img-responsive" alt=""/>
                    <h4>李爽 UI设计师</h4>
                    <p>薪水：5000左右(2000元/月+提成)</p>
                    <p>就职公司：重庆启高科技有限公司</p>

                </div>
            </div>
            <div class="col-md-3">
                <div class="course">
                    <img src="/static/img/huaziedu/liuhaoyue.jpg" style="height: 300px;width:280px;"  class="img-responsive" alt=""/>
                    <h4>刘皓月 PHP软件开发工程师</h4>
                    <p>入职薪水：4500元/月</p>
                    <p>就职公司：重庆友趣科技有限公司</p>

                </div>
            </div>
            <div class="col-md-3">
                <div class="course">
                    <img src="/static/img/huaziedu/jianglong.jpg" style="height: 300px;width:280px;" class="img-responsive" alt=""/>
                    <h4>江龙 PHP软件开发工程师</h4>
                    <p>入职薪水：6000元/月</p>
                    <p>就职公司：四川迈科创智科技有限公司</p>

                </div>
            </div>
            <div class="col-md-3">
                <div class="course">
                    <img src="/static/img/huaziedu/chenjiaxin.jpg" style="height: 300px;width:280px;" class="img-responsive" alt=""/>
                    <h4>陈佳欣 PHP软件开发工程师</h4>
                    <p>入职薪水：4000元/月</p>
                    <p>就职公司：香港新维网络有限公司</p>

                </div>
            </div>
            <div class="col-md-3">
                <div class="course">
                    <img src="/static/img/huaziedu/zhangni.jpg" style="height: 300px;width:280px;" class="img-responsive" alt=""/>
                    <h4>张妮 PHP软件开发工程师</h4>
                    <p>入职薪水：5000元/月</p>
                    <p>就职公司：扬州灰点网络科技有限公司</p>

                </div>
            </div>
            <div class="col-md-3">
                <div class="course">
                    <img src="/static/img/huaziedu/wuxiaofan.jpg" style="height: 300px;width:280px;" class="img-responsive" alt=""/>
                    <h4>吴小凡 Web前端开发工程师</h4>
                    <p>入职薪水：5000元/月</p>
                    <p>就职公司：成都路易师傅信息技术公司</p>

                </div>
            </div>
        </div>
    </div>
</section>
<!--course-->


<!--home-->
<!--<section id="home">
    <div class="lvjing">
        <div class="container">
            <div class="row wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <h1>bootstrap实战课程等你来战！</h1>
                    <p>
                        本套课程适用于：1.WEB开发人员；2.网站维护人员、管理人员<br/>
                        培训技能的目标：使用bootstrap框架快速构建响应式网页，颠覆传统WEB前端！
                    </p>
                    <img src="/static/img/huaziedu/php.jpg" class="img-responsive" alt="php"/>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
</section>-->
<!--home-->

<!--bbs-->
<section id="bbs">
    <div class="container">
        <div class="row wow fadeInUp" data-wow-duration="0.5s">
            <div class="col-md-12">
                <h2>开班典礼盛况</h2>

                <!--<h6>独创学习路线助你成就高薪梦想</h6>-->
            </div>
            <div class="col-md-4">
            	<div class="box">
            		<a href="http://www.maiziedu.com" target="_blank">
                    <img src="/static/img/huaziedu/kbsk-1.png" height="300px"  class="img-responsive" alt=""/>
                    <div id="title">
                    	<h4>PHP高薪就业班开班典礼</h4>
                    	<p>重庆文理学院-重庆必新PHP高薪就业班开班典礼</p>
                    </div>
                    
                </a>
            	</div>
                
            </div>
            <div class="col-md-4 ">
            	<div class="box">
            		<a href="javascript:;" target="_blank">
                    <img src="/static/img/huaziedu/kbsk-2.png"  class="img-responsive" alt=""/>
                    <div id="title">
                    	<h4>PHP高薪就业班开班典礼</h4>
                    	<p>重庆文理学院-重庆必新PHP高薪就业班开班典礼</p>
                    </div>
                    
                </a>
            	</div>
                
            </div>
            <div class="col-md-4">
            	<div class="box">
            		<a href="http://www.maiziedu.com" target="_blank">
                    <img src="/static/img/huaziedu/kbsk-3.png" class="img-responsive" alt=""/>
                    <div id="title">
                    	<h4>PHP高薪就业班开班典礼</h4>
                    	<p>重庆文理学院-重庆必新PHP高薪就业班开班典礼</p>
                    </div>
                    
                </a>
            	</div>
                
            </div>
        </div>
    </div>
</section>
<!--bbs-->



<!--contact-->
<section id="contact">
    <div class="lvjing">
        <div class="container">
            <div class="row">
                <div class="col-md-6  wow fadeInLeft">
                    <h2>
                        <span class="glyphicon glyphicon-send"></span>
                        &nbsp;
                        报名联系华资
                    </h2>
                    <p>
                        华资科技旗下华资学院是西南规模最大的软件外包服务基地和高级软件人才培养基地，致力于为
                        软件研发、数字艺术设计、全球电子商务等高端行业提供软件外包服务。在人才孵化方面，公司与IBM、
                        北京新精英等企业合作引入最新的体验式人才培新模式，从挖掘个人潜力出发，通过企业订单式培养，
                        按照企业的实用需求，为企业提供全方面的技能型人才，同时注重培养目标、执行、协作、人际交流、
                        职场礼仪等综合素养。必新还为每一位学员提供终身制的就业推荐、认证培训、人才外派、
                        进修猎头等综合就业服务。打造服务外包、人才孵化、人才服务的IT生态圈。是IBM、惠普（中国）、
                        中国航信、联想集团、NTTdata、华为等世界500强企业的员工培养基地。多年来通过步入创新产业的
                        学员已达数百万人，遍布于微软、惠普、IBM、联想、华为、百度、阿里巴巴、腾讯、京东、小米
                        科技等众多国内外知名企业，并获得行业的高度认可。
                    </p>
                    <address>
                        <p>
                            <span class="glyphicon glyphicon-home"></span>
                            &nbsp;
                            地址:四川省巴中市兴文经济开发区科技园置信城(巴中新型产业园)
                        </p>
                        <p>
                            <span class="glyphicon glyphicon-phone-alt"></span>
                            &nbsp;
                            联系电话：023-81365303   18523645838
                        </p>
                        <p>
                            <span class="glyphicon glyphicon-envelope"></span>
                            &nbsp;
                            邮箱:service@huaziedu.com
                        </p>
                    </address>
                </div>
                <div class="col-md-6  wow fadeInRight">
                    <form action="#" method="post">
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="您的姓名"/>
                        </div>
                        <div class="col-md-6">
                            <input type="email" class="form-control" placeholder="您的邮箱"/>
                        </div>
                        <div class="col-md-12">
                            <input type="text" class="form-control" placeholder="标题"/>
                        </div>
                        <div class="col-md-12">
                            <textarea class="form-control" placeholder="留言内容" rows="4"></textarea>
                        </div>
                        <div class="col-md-8">
                            <input type="submit" class="form-control" value="提交"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{include file="../../common/view/footer" /}