{include file="../../common/view/header" /}
<link href="/static/css/tickt.css" rel="stylesheet" type="text/css">
<body>
    <div class="">
        <div style="margin-left: 10px; margin-top: 20px;">
            <input class="upload_botton list_ye_head" id="create_ticket" type="submit" value="新增" >
            <input class="upload_botton list_ye_head" id="upload_ticket" type="submit" value="更新" >
            <input class="upload_botton list_ye_head" id="delete_ticket" type="submit" value="删除" >
            <input class="upload_botton list_ye_head" type="submit" value="查看详情" >
            <input id="shousuo" type="search" placeholder="请输入关键字搜索" data-label="搜索框">
            <img id="u270_img" class="img " src="/static/img/u270.png" style=" width: 19px;height: 22px; margin-left: 10px;">
            <span  id="select_ticket" style="color: #aaaaaa; cursor: pointer">搜索</span>
        </div>
        <div style="margin-left: 10px; margin-top: 6px;">
            <table class="ticket_table">
                <tr>
                    <td style="background: #009dd9; height: 26px;width: 120px; border: 1px #666666 solid;">
                        <input class="allcheck" name="all_check" datacheck ='no' type="checkbox" style="margin-left: 6px; height: 14px; width: 14px;vertical-align: middle; ">
                        <span style="margin-left: 10px; color: #000000;font-size: 13px; width: 60px; display: inline-block; height: 32px; line-height: 32px; vertical-align: middle; ">全选/反选</span>
                    </td>
                    <td style="background: #009dd9; height: 26px;min-width: 76px; text-align: center;color: #000000;font-size: 14px; border: 1px #666666 solid;">供应商类型</td>
                    <td style="background: #009dd9; height: 26px;min-width: 123px; text-align: center;color: #000000;font-size: 14px; border: 1px #666666 solid;">排序</td>
                  </tr>
                <?php foreach($gongtypelist as $key => $value){?>
                <tr>
                    <td style="height: 36px;border: 1px #666666 solid; text-align: center; font-size: 14px;"> <input class="onecheck" dataid="<?php echo $value['id'] ?>" datacheck = 'no' type="checkbox" style="height: 14px; width: 14px;vertical-align: middle; "></td>
                    <td style="height: 36px;border: 1px #666666 solid; text-align: center; font-size: 14px; color: #333333;"><?php echo $value['type_name']?></td>
                    <td style="height: 36px;border: 1px #666666 solid; text-align: center; font-size: 14px; color: #333333;"><?php echo $value['sort']?></td>
                </tr>
                <?php } ?>
            </table>
            <div style="margin-top: 60px;">
                <div style="margin-left: 300px;">
                    <!--分页开始-->
                    <?php if($page>=1) {?>
                    <a href="{:url('supplier/supplier/gongtypelist',['page'=> 1])}" style="width: 50px;" class="jiantou">首页</a>
                    <?php } ?>
                    <?php if($page>1) {?>
                    <a href="{:url('supplier/supplier/gongtypelist',['page'=> $page-1])}" class="jiantou"><</a>
                    <?php } ?>
                    <span>
                        <?php for($i = $page-$ye+1;$i<$page;$i++) { if($i>0){ ?>
                         <a href="{:url('supplier/supplier/gongtypelist',['page'=> $i])}" style="display: inline-block; height: 20px; cursor: pointer; width: 26px; line-height: 20px;text-align: center; color: #333333;"><?php echo $i?></a>
                        <?php } ?>
                        <?php } ?>
                        <a href="{:url('supplier/supplier/gongtypelist',['page'=> $page])}" style="display: inline-block; height: 20px; background: #009DDA; cursor: pointer;width: 26px; line-height: 20px;text-align: center;color: #ffffff "><?php echo $page ?></a>
                        <?php for($i = $page+1;$i<$page+$ye;$i++) {
                            if($i<=$maxpage){ ?>
                        <a href="{:url('supplier/supplier/gongtypelist',['page'=> $i])}" style="display: inline-block; height: 20px;cursor: pointer; width: 26px; line-height: 20px;text-align: center;color: #333333;"><?php echo $i?></a>
                        <?php } ?>
                        <?php } ?>
                    </span>
                    <?php if ($page<$maxpage) { ?>
                    <a href="{:url('supplier/supplier/gongtypelist',['page'=> $page+1])}" class="jiantou">></a>
                    <?php } ?>
                    <?php if ($maxpage>1) {?>
                    <a href="{:url('supplier/supplier/gongtypelist',['page'=> $maxpage])}" class="jiantou" style="width: 50px;">尾页</a>
                    <?php } ?>
                </div>
            </div>
       </div>
    </div>
    <script src="/static/js/jquery.min.js?v=2.1.4"></script>
    <script>
        $('#delete_ticket').click(function(){
            var idlist = Array();
            $('.onecheck').each(function(){
                if($(this).attr('datacheck') == 'yes'){
                    idlist.push($(this).attr('dataid'));
                }
            });
            if(idlist.length<0){
                alert('你至少需要选择一个供应商分类');
            }
            else{
                $.post('{:url("supplier/supplier/deltypegong")}',{'listid':idlist},function(reg) {
                    alert('删除成功');
                    window.location.reload()
                    /*$('.onecheck').each(function(){
                        if($(this).attr('datacheck') == 'yes'){
                            $(this).parents('tr').remove();
                        }
                    });*/
                });
            }

        });
        //.全选或者单选
        $('.allcheck').click(function(){
            if($(this).attr('datacheck') == "no"){
                $(this).attr('datacheck','yes');
                var el = document.getElementsByClassName('onecheck');
                var len = el.length;
                for(var i=0; i<len; i++){
                    el[i].checked = true;
                    el[i].setAttribute('datacheck','yes');
                }
            }
            else{
                $(this).attr('datacheck','no');
                var el = document.getElementsByClassName('onecheck');
                var len = el.length;
                for(var i=0; i<len; i++){
                    el[i].checked = false;
                    el[i].setAttribute('datacheck','no');
                }
            }
            selectone();
        });
        $('.onecheck').click(function(){
            if($(this).attr('datacheck') == "no"){
                $(this).attr('datacheck','yes');

            }
            else {
                $(this).attr('datacheck', 'no');
            }
            selectone();
        });
        function selectone(){
            var len = $('.onecheck').length;
            var alllen = 0;
            $('.onecheck').each(function(){
                if($(this).attr('datacheck') == 'yes'){
                    alllen++;
                }
            });
            if(alllen == len){
                $('.allcheck').attr('datacheck','yes');
                document.getElementsByClassName("allcheck")[0].checked= true;
            }
            else{
                $('.allcheck').attr('datacheck','no');
                document.getElementsByClassName("allcheck")[0].checked= false;
            }
        }
    </script>
    <script>
        $('#create_ticket').click(
                function(){
                    location.href = '{:url("supplier/supplier/addtypegong")}';
                }
        );
        $('#upload_ticket').click(function(){
            var idlist = Array();
            $('.onecheck').each(function(){
                if($(this).attr('datacheck') == 'yes'){
                    idlist.push($(this).attr('dataid'));
                }
            });
            if(idlist.length ==0){
                alert('你需要选择一个供应商');
            }
            else if(idlist.length>1){
                alert('一次只能修改一个');
            }
            else{
                location.href = 'addtypegong?id='+idlist[0];
            }
        });
        $('#select_ticket').click(
                function(){
                    var value = $('#shousuo').val();
                    if(value){
                        location.href = 'selectgong?value='+value;
                    }
                }
        );
    </script>
</body>
</html>