{include file="../../common/view/header" /}
<h3 style="text-align:center;margin-top: 50px;">
	JAVA高薪就业班培训课程体系
</h3>
<br />
<div class="courselist">
	<table width="90%" height="300" border="1" style="margin-left:auto;margin-right:auto;">
		<tbody>
		<tr>
			<td class="header" style="COLOR: #fff; text-align:center;" colspan="3">
				第一阶段
			</td>
		</tr>
		<tr style="COLOR: #fff; text-align:center; font-weight:bold; font-size:15px;">
			<td class="biao_l title" width="20%">
				课程主题
			</td>
			<td class="biao_l title bl" width="60%">
				课程内容
			</td>
			<td class="biao_l title bl" width="20%">
				课程目标
			</td>
		</tr>
		<tr>
			<td align="center">
				<strong>
					JAVA应用程序设计基础
				</strong>
			</td>
			<td class="bl">
				JAVA基本语法及程序设计
			</td>
			<td class="bl">
				熟悉程序设计基础知识、培养逻辑思维能力
			</td>
		</tr>
		<tr class="borderTop borderBottom">
			<td align="center">
				<strong>
					WEB前端设计
				</strong>
			</td>
			<td class="bl">
				html,css,div,web标准
			</td>
			<td class="bl">
				掌握web标准，完成基于WEB2.0标准的静态网站设计
			</td>
		</tr>
		<tr>
			<td align="center">
				<strong>
					JAVA面向对象编程
				</strong>
			</td>
			<td class="bl">
				类、对象、SWING、事件模型、多线程、集合框架、I/O、Socket、反射机制、JUNIT
			</td>
			<td class="bl">
				掌握Java面向对象特性及J2SE基础语法
			</td>
		</tr>
		</tbody>
	</table>
	<table width="90%" height="500" border="1" style="margin-left:auto;margin-right:auto;">
		<tbody>
		<tr>
			<td class="header" style="COLOR: #fff; text-align:center;" colspan="3">
				第二阶段
			</td>
		</tr>
		<tr style="COLOR: #fff; text-align:center; font-weight:bold; font-size:15px;">
			<td class="biao_l title" width="20%">
				课程主题
			</td>
			<td class="biao_l title bl" width="60%">
				课程内容
			</td>
			<td class="biao_l title bl" width="20%">
				课程目标
			</td>
		</tr>
		<tr>
			<td align="center">
				<strong>
					JAVA数据库编程
				</strong>
			</td>
			<td class="bl">
				MySql在数据库项目中的应用
			</td>
			<td class="bl">
				掌握JAVA数据库编程及数据库设计
			</td>
		</tr>
		<tr class="borderTop borderBottom">
			<td align="center">
				<strong>
					JDBC开发
				</strong>
			</td>
			<td class="bl">
				JDBC在数据库项目中的应用
			</td>
			<td class="bl">
				MySql数据库+JDBC开发
			</td>
		</tr>
		<tr>
			<td align="center">
				<strong>
					JAVA WEB核心技术课程
				</strong>
			</td>
			<td class="bl">
				XML、Servlet、JSP、JavaBean、Tomcat
			</td>
			<td class="bl">
				掌握JavaWeb开发核心基础知识
			</td>
		</tr>
		<tr class="borderTop borderBottom">
			<td align="center">
				<strong>
					AJAX编程
				</strong>
			</td>
			<td class="bl">
				JavaScript、AJAX、DWR、JQUERY
			</td>
			<td class="bl">
				掌握AJAX编程客户端和服务器端相关技术
			</td>
		</tr>
		<tr>
			<td align="center">
				<strong>
					JAVA WEB商业项目实训
				</strong>
			</td>
			<td class="bl">
				JAVA WEB核心开发技术+WEB实战项目+真实项目
			</td>
			<td class="bl">
				模拟struts框架，全面掌握中小型项目开发经验
			</td>
		</tr>
		</tbody>
	</table>
	</table>
	<table width="90%" height="300" border="1" style="margin-left:auto;margin-right:auto;">
		<tbody>
		<tr>
			<td class="header" style="COLOR: #fff; text-align:center;" colspan="3">
				第三阶段
			</td>
		</tr>
		<tr style="COLOR: #fff; text-align:center; font-weight:bold; font-size:15px;">
			<td class="biao_l title" width="20%">
				课程主题
			</td>
			<td class="biao_l title bl" width="60%">
				课程内容
			</td>
			<td class="biao_l title bl" width="20%">
				课程目标
			</td>
		</tr>
		<tr class="borderBottom">
			<td align="center">
				<strong>
					核心技术课程SSHM
				</strong>
			</td>
			<td class="bl">
				Struts2、Spring3、Hibernate3、MyBatis、Maven、SVN项目管理
			</td>
			<td class="bl">
				掌握并增加J2EE多行业多业务实际项目开发经验
			</td>
		</tr>
		<tr>
			<td align="center">
				<strong>
					J2EE商业项目实训
				</strong>
			</td>
			<td class="bl">
				OA办公系统、ERP系统、SNS社交平台、短信平台系统、大型企业集成系统平台、政府级项目（票务系统、团队预订电子商务系统、电子商务综合管理分销系统平台、自助取票机系统等）任选其一进行商业项目实训
			</td>
			<td class="bl">
				在整个开发过程中熟练掌握SSH 三大框架的使用。同时让学生进一步深入掌握如何分析、如何设计、如何编码、如何测试、如何部署等软件开发流程。
			</td>
		</tr>
		</tbody>
	</table>
	</table>
	<table width="90%" height="300" border="1" style="margin-left:auto;margin-right:auto;">
		<tbody>
		<tr>
			<td class="header" style="COLOR: #fff; text-align:center;" colspan="3">
				第四阶段
			</td>
		</tr>
		<tr style="COLOR: #fff; text-align:center; font-weight:bold; font-size:15px;">
			<td class="biao_l title" width="20%">
				课程主题
			</td>
			<td class="biao_l title bl" width="60%">
				课程内容
			</td>
			<td class="biao_l title bl" width="20%">
				课程目标
			</td>
		</tr>
		<tr>
			<td align="center">
				<strong>
					个人职业规划
				</strong>
			</td>
			<td class="bl">
				全面分析行业发展趋势，针对学员具体情况，科学引导，明确定位，每个人都能找到属于自己的职业轨道
			</td>
			<td class="bl">
				具备一个合格的职场人
			</td>
		</tr>
		<tr class="borderTop borderBottom">
			<td align="center">
				<strong>
					企业面试技巧
				</strong>
			</td>
			<td class="bl">
				人事面试？技术面试！掌握企业炙手可热的面试信息，综合分析，各个击破，提供专业的面试指导，让面试更简单
			</td>
			<td class="bl">
				轻松搞定offer
			</td>
		</tr>
		<tr>
			<td align="center">
				<strong>
					毕业后跟踪服务
				</strong>
			</td>
			<td class="bl">
				长期跟踪，不定期回访，给学员提供贴心的课后服务，定期举行技术 沙龙，轻轻松松学到新知识
			</td>
			<td class="bl">
				和行业职业经理人交流，随时掌握行业流行趋势及新技术
			</td>
		</tr>
		</tbody>
	</table>
</div>
<div style="height: 10px;">
</div>
<!-- 页脚 navbar-fixed-bottom-->
<!--contact-->
<section id="contact">
	<div class="lvjing">
		<div class="container">
			<div class="row">
				<div class="col-md-6  wow fadeInLeft">
					<h2>
						<span class="glyphicon glyphicon-send"></span>
						&nbsp;
						联系华资
					</h2>
					<p>
						华资科技旗下华资学院是西南规模最大的软件外包服务基地和高级软件人才培养基地，致力于为
						软件研发、数字艺术设计、全球电子商务等高端行业提供软件外包服务。在人才孵化方面，公司与IBM、
						北京新精英等企业合作引入最新的体验式人才培新模式，从挖掘个人潜力出发，通过企业订单式培养，
						按照企业的实用需求，为企业提供全方面的技能型人才，同时注重培养目标、执行、协作、人际交流、
						职场礼仪等综合素养。必新还为每一位学员提供终身制的就业推荐、认证培训、人才外派、
						进修猎头等综合就业服务。打造服务外包、人才孵化、人才服务的IT生态圈。是IBM、惠普（中国）、
						中国航信、联想集团、NTTdata、华为等世界500强企业的员工培养基地。多年来通过步入创新产业的
						学员已达数百万人，遍布于微软、惠普、IBM、联想、华为、百度、阿里巴巴、腾讯、京东、小米
						科技等众多国内外知名企业，并获得行业的高度认可。
					</p>
					<address>
						<p>
							<span class="glyphicon glyphicon-home"></span>
							&nbsp;
							地址:四川省巴中市兴文经济开发区科技园置信城(巴中新型产业园)
						</p>
						<p>
							<span class="glyphicon glyphicon-phone-alt"></span>
							&nbsp;
							联系电话：023-81365303   18523645838
						</p>
						<p>
							<span class="glyphicon glyphicon-envelope"></span>
							&nbsp;
							邮箱:service@hauziedu.com
						</p>
					</address>
				</div>
				<div class="col-md-6  wow fadeInRight">
					<form action="#" method="post">
						<div class="col-md-6">
							<input type="text" class="form-control" placeholder="您的姓名"/>
						</div>
						<div class="col-md-6">
							<input type="email" class="form-control" placeholder="您的邮箱"/>
						</div>
						<div class="col-md-12">
							<input type="text" class="form-control" placeholder="标题"/>
						</div>
						<div class="col-md-12">
							<textarea class="form-control" placeholder="留言内容" rows="4"></textarea>
						</div>
						<div class="col-md-8">
							<input type="submit" class="form-control" value="提交"/>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
{include file="../../common/view/footer" /}