{include file="../../common/view/header" /}

<body class="gray-bg">
<div class="wrapper wrapper-content">
    <div class="col-sm-12">
        <h3 class="pull-left">菜单管理</h3>
        <ol class="breadcrumb pull-right">
            <li>
                <a href="index.html"><i class="fa fa-dashboard"></i> 管理中心</a>
            </li>
            <li>
                微信管理
            </li>
            <li>
                微信菜单
            </li>
        </ol>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-12 m-b-xs form-inline">
                            <div class="input-group">
                                <div class="btn-group">
                                    <a href="{:Url('user/lists/add','',false,true)}" class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp;创建新菜单</a>
                                </div>
                            </div>
                            <div class="input-group">
                                <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 最多3个一级菜单，每个一级菜单最多5个子菜单</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>排序</th>
                                <th>菜单名称</th>
                                <th>菜单类型</th>
                                <th>菜单关键字</th>
                                <th>菜单链接</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td width="50"><input type="text" class="form-control"></td>
                                    <td>
                                        <div class="form-inline">
                                            <div class="input-group">
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <select name="" id="" class="form-control">
                                            <option value="">view</option>
                                            <option value="">click</option>
                                        </select>
                                    </td>
                                    <td><input type="text" class="form-control"></td>
                                    <td><input type="text" class="form-control"></td>
                                </tr>
                                <tr>
                                    <td width="50"><input type="text" class="form-control"></td>
                                    <td>
                                        <div class="form-inline">
                                            <div class="input-group">-----------</div>
                                            <div class="input-group">
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <select name="" id="" class="form-control">
                                            <option value="">view</option>
                                            <option value="">click</option>
                                        </select>
                                    </td>
                                    <td><input type="text" class="form-control"></td>
                                    <td><input type="text" class="form-control"></td>
                                </tr>
                                <tr>
                                    <td width="50"><input type="text" class="form-control"></td>
                                    <td>
                                        <div class="form-inline">
                                            <div class="input-group">-----------</div>
                                            <div class="input-group">
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <select name="" id="" class="form-control">
                                            <option value="">view</option>
                                            <option value="">click</option>
                                        </select>
                                    </td>
                                    <td><input type="text" class="form-control"></td>
                                    <td><input type="text" class="form-control"></td>
                                </tr>
                                <tr>
                                    <td width="50"><input type="text" class="form-control"></td>
                                    <td>
                                        <div class="form-inline">
                                            <div class="input-group">-----------</div>
                                            <div class="input-group">
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <select name="" id="" class="form-control">
                                            <option value="">view</option>
                                            <option value="">click</option>
                                        </select>
                                    </td>
                                    <td><input type="text" class="form-control"></td>
                                    <td><input type="text" class="form-control"></td>
                                </tr>
                                <tr>
                                    <td width="50"><input type="text" class="form-control"></td>
                                    <td>
                                        <div class="form-inline">
                                            <div class="input-group">-----------</div>
                                            <div class="input-group">
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <select name="" id="" class="form-control">
                                            <option value="">view</option>
                                            <option value="">click</option>
                                        </select>
                                    </td>
                                    <td><input type="text" class="form-control"></td>
                                    <td><input type="text" class="form-control"></td>
                                </tr>
                                <tr>
                                    <td width="50"><input type="text" class="form-control"></td>
                                    <td>
                                        <div class="form-inline">
                                            <div class="input-group">-----------</div>
                                            <div class="input-group">
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <select name="" id="" class="form-control">
                                            <option value="">view</option>
                                            <option value="">click</option>
                                        </select>
                                    </td>
                                    <td><input type="text" class="form-control"></td>
                                    <td><input type="text" class="form-control"></td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="text-center">
                                        <button class="btn btn-primary" type="submit" id="submit">保存菜单</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-sm-6"></div>
                        <div class="col-sm-6">
                            <div class="dataTables_paginate paging_simple_numbers pull-right">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 全局js -->
<script src="/static/js/jquery.min.js?v=2.1.4"></script>
<script src="/static/js/bootstrap.min.js?v=3.3.6"></script>
<!-- Data Tables -->
<script src="/static/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="/static/js/plugins/dataTables/dataTables.bootstrap.js"></script>
<!-- layer javascript -->
<script src="/static/js/plugins/layer/layer.min.js"></script>
<script>
    $('.ibox-content').tooltip({
        selector: "[data-toggle=tooltip]",
        container: "body"
    });
</script>
</body>

</html>
