{include file="../../common/view/header" /}

<body class="gray-bg">
	<div class="wrapper wrapper-content">
		<div class="col-sm-12">
			<h3 class="pull-left">添加学员</h3>
			<ol class="breadcrumb pull-right">
				<li><a href="index.html"><i class="fa fa-dashboard"></i>
						管理中心</a></li>
				<li>学员列表</li>
				<li>添加会员</li>
			</ol>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox">
					<div class="ibox-title">
						<form class="form-horizontal m-t" onsubmit="return false;" method="post" id="signForm">
							<div class="form-group">
								<label class="col-sm-2 control-label">学员姓名：</label>
								<div class="col-sm-2">
									<input id="stu_name" name="stu_name" class="form-control" type="text">
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label">学员性别：</label>
								<div class="col-sm-2">
									<label class="radio-inline i-checks">
										<input type="radio" name="stu_sex" value="0" checked="checked">美女
									</label>
									<label class="radio-inline i-checks">
										<input type="radio" name="stu_sex" value="1"> 帅哥
									</label>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">学员年龄：</label>
								<div class="col-sm-2">
									<input id="stu_age" name="stu_age" class="form-control"
										type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">学员电话：</label>
								<div class="col-sm-2">
									<input id="stu_phone" name="stu_phone" class="form-control"
										type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">学员QQ：</label>
								<div class="col-sm-2">
									<input id="stu_qq" name="stu_qq" class="form-control"
										type="text">
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label">您的学历：</label>
								<div class="col-sm-2">
									<select class="form-control" name="stu_xueli">
										<option value="0">本科</option>
										<option value="1">大专</option>
										<option value="2">中专</option>
										<option value="3">高中</option>
										<option value="4">初中</option>
										<option value="5">初中以下</option>
										<option value="6">社会人士</option>
									</select>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label">意向专业：</label>
								<div class="col-sm-2">
									<select class="form-control" name="stu_zhuanye">
										<option value="0">普通话技能班</option>
										<option value="1">办公技能班</option>
										<option value="2">网络推广电商就业班</option>
										<option value="3">UI设计师就业班</option>
										<option value="4">Web前端工程师就业班</option>
										<option value="5">PHP软件工程师就业班</option>
										<option value="6">JAVA软件工程师就业班</option>
										<option value="7">Android软件工程师就业班</option>
										<option value="8">大数据工程师就业班</option>
										<option value="9">教师资格证</option>
									</select>
								</div>
							</div>

							<div class="form-group has-error">
								<div class="col-sm-4 col-sm-offset-2">
									<span id="server-error" class="help-block m-b-none hide"></span>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-4 col-sm-offset-2">
									<button class="btn btn-primary" type="submit" id="submit">确认提交</button>
									<button class="btn btn-white" type="button" id="cancel">取 消</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- 全局js -->
	<script src="/static/js/jquery.min.js?v=2.1.4"></script>
	<script src="/static/js/bootstrap.min.js?v=3.3.6"></script>
	<!-- jQuery Validation plugin javascript-->
	<script src="/static/js/plugins/validate/jquery.validate.min.js"></script>
	<script src="/static/js/plugins/iCheck/icheck.min.js"></script>

	<script>

        //单选按钮样式
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });

        var signForm = $("#signForm"),
            submitBtn = $("#submit"),
            serverError = $("#serverError"),
            cancel = $("#cancel");

        $.validator.setDefaults({
            highlight: function (element) {
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            success: function (element) {
                element.closest('.form-group').removeClass('has-error').addClass('has-success');
            },
            errorPlacement: function(error, element) {
                element.after(error);
            },
            errorElement: "span",
            errorClass: "help-block m-b-none",
            validClass: ""
        });

        var icon = "<i class='fa fa-times'></i>";

        $.validator.addMethod("isMobile", function(value, element) {
            var length = value.length;
            var mobile = /^(13[0-9]{9})|(18[0-9]{9})|(14[0-9]{9})|(17[0-9]{9})|(15[0-9]{9})$/;
            return this.optional(element) || (length == 11 && mobile.test(value));
        }, "请正确填写您的手机号码");

        $.validator.addMethod("isAge", function(value, element) {
            var mobile = /^[0-9]{1,2}$/;
            return this.optional(element) || (mobile.test(value));
        }, "请正确填写您的年龄");

        $.validator.addMethod("isQQ", function(value, element) {
            var mobile = /^[0-9]{5,18}$/;
            return this.optional(element) || (mobile.test(value));
        }, "请正确填写您的QQ号码");

        $().ready(
			function() {
				var icon = "<i class='fa fa-times'></i> ";
                signForm.validate({
					debug : true,
					rules : {
                        stu_name: {
                            required: true,
                            rangelength:[2,20]
                        },
                        stu_phone: {
                            required: true,
                            isMobile:true,
                        },
                        stu_age:{
                            required: true,
                            isAge:true
                        },
                        stu_qq:{
                            required: true,
                            isQQ:true
                        },
                        stu_xueli:{
                            required: true,
                            min:0
                        },
                        stu_zhuanye:{
                            required: true,
                            min:0
                        }
					},
					messages : {
                        stu_name: {
                            required: icon + "请输入姓名",
                            rangelength:icon + "姓名应在2-20个字之间",
                        },
                        stu_phone: {
                            required: icon + "请输入手机号码",
                        },stu_age: {
                            required: icon + "请输入年龄",
                        },stu_qq: {
                            required: icon + "请输入QQ",
                        },stu_xueli: {
                            required: icon + "请选择学历",
                            min:icon + "请选择学历",
                        },stu_zhuanye: {
                            required: icon + "请选择专业",
                            min:icon + "请选择专业",
                        }
					},
					submitHandler : function() {
						// 禁用按钮
						submitBtn.attr({
							disabled : "disabled"
						}).html("提交中...");
						// 提交表单
						$.ajax({
								url : "{:Url('/student/enroll/save','',false, true)}",
								type : "post",
								dataType : "json",
								data : signForm.serialize(),
								success : function(data) {
									if (data.code === 0) {
										self.location = document.referrer;
									} else {
										serverError.show().html(icon+ data.msg);
									}
								},
								complete : function() {
									// 恢复按钮可用
									submitBtn.removeAttr("disabled").html("提交");
								},
								error : function() {
									serverError.show().html(icon+ "网络错误，请检查网络后重试");
								}
						});
					}
				});
				cancel.click(function() {
					self.location = document.referrer;
				});
			});
	</script>
</body>

</html>
