{include file="../../common/view/header" /}
<body>
<div class="middle-box text-center animated fadeInDown">
    <h1><img src="/static/img/no_auth.png" alt=""></h1>
    <h2 class="font-bold">没有权限</h2>

    <div class="error-desc">
        <br/><a href="{:Url('/index/index/main', '', false, true)}" id="return" class="btn btn-primary m-t">点击返回主页</a>
    </div>
</div>
<!-- 全局js -->
<script src="/static/js/jquery.min.js?v=2.1.4"></script>
<script src="/static/js/bootstrap.min.js?v=3.3.6"></script>
</body>

</html>
