<!--footer-->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Copyright&nbsp;©&nbsp;2016-2019&nbsp;&nbsp;www.huaziedu.com&nbsp;&nbsp;渝ICP备15008588号-1
                </p>
            </div>
        </div>
    </div>
</footer>

<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="/static/js/huaziedu/bootstrap.min.js"></script>
<script type="text/javascript">

</script>
<script src="/static/js/huaziedu/jquery.singlePageNav.min.js"></script>
<script src="/static/js/huaziedu/wow.min.js" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/huaziedu/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/huaziedu/pace.min.js"></script>
<script>
    $(function(){
        /*导航跳转效果插件*/
        /* $('.nav').singlePageNav({
         offset:70
         });*/

        /*小屏幕导航点击关闭菜单*/
        $('.navbar-collapse a').click(function(){
            $('.navbar-collapse').collapse('hide');
        });
        new WOW().init();
    })
</script>
</body>
</html>