{include file="../../common/view/header" /}

<body class="gray-bg">
<div class="wrapper wrapper-content">
    <div class="col-sm-12">
        <h3 class="pull-left">会员管理</h3>
        <ol class="breadcrumb pull-right">
            <li>
                <a href="index.html"><i class="fa fa-dashboard"></i> 管理中心</a>
            </li>
            <li>
                会员管理
            </li>
            <li>
                会员列表
            </li>
        </ol>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-6 m-b-xs">
                            <div class="input-group">
                                <div class="btn-group">
                                    <a href="{:Url('user/lists/add','',false,true)}" class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp;创建会员</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>帐号</th>
                                <th>电话</th>
                                <th>邮箱</th>
                                <th>添加时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {empty name="userList"}
                                <tr>
                                    <th colspan="6" class="text-center">没有普通会员记录</th>
                                </tr>
                            {else}
                                {volist name="userList" id="v"}
                                <tr>
                                    <th>{$v.id}</th>
                                    <th>{$v.user_name}</th>
                                    <th></th>
                                    <th></th>
                                    <th>{$v.create_time}</th>
                                    <th>
                                        <a href="{:Url('user/lists/edit',['id'=>$v.id],false,true)}" class="btn btn-primary btn-xs btn-circle" type="button" data-toggle="tooltip" data-placement="top" title="" data-original-title="编辑">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                        <a href="javascript:;" data-id="{$v.id}" class="btn btn-warning btn-xs btn-circle delete" type="button" data-toggle="tooltip" data-placement="top" title="" data-original-title="删除">
                                            <i class="fa fa-trash-o"></i>
                                        </a>
                                    </th>
                                </tr>
                                {/volist}
                            {/empty}
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-sm-6"></div>
                        <div class="col-sm-6">
                            <div class="dataTables_paginate paging_simple_numbers pull-right">
                                {$page}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 全局js -->
<script src="/static/js/jquery.min.js?v=2.1.4"></script>
<script src="/static/js/bootstrap.min.js?v=3.3.6"></script>
<!-- Data Tables -->
<script src="/static/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="/static/js/plugins/dataTables/dataTables.bootstrap.js"></script>
<!-- layer javascript -->
<script src="/static/js/plugins/layer/layer.min.js"></script>
<script>
    $('.ibox-content').tooltip({
        selector: "[data-toggle=tooltip]",
        container: "body"
    });

    // 删除
    $('.delete').on('click', function() {
        var id = $(this).attr("data-id");
        layer.confirm('确定删除该会员？', {
            skin: 'layui-layer-molv',
            icon: 3,
            shadeClose: false,
        }, function(index, layero) {
            $.get("{:Url('/user/lists/del', '', false, true)}?id=" + id, function(data,status){
                if (data.code) {
                    layer.msg(data.msg, {icon: 5});
                } else {
                    // 删除成功
                    window.location.reload();
                }
            });
        });
    });
</script>
</body>

</html>
